.container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.container-head {
  width: 100%;
  height: 776px;
  background-image: url("../../../assets/img/content/header-img.jpg");
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 15%;
  padding-right: 15%;

  @media screen and (max-width: 1177px){
    padding-left: 7%;
  padding-right: 7%;
  }
  @media screen and (max-width: 930px){
    padding-left: 1%;
  padding-right: 1%;
  }


  .header {
    width: 100%;
    height: 51px;
    margin-top: 60px;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    &__logo {
      width: 250px;
    }
  }

  .register-block {
    margin-top: 65px;
    width: 411px;

    &__h1 {
      font-family: Roboto;
      font-style: normal;
      font-weight: 900;
      font-size: 2.125rem;
      line-height: 2.25rem;
      color: #ffffff;
      margin-bottom: 0;
    }

  }
}
.social-block {
  width: 100%;
  height: 85px;
  background-color: #172b4d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 15%;

  &__content {
    width: 114px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    &_item {
      cursor: pointer;
    }
  }
}


.container-main {
  width: 100%;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 70px;

  @media screen and (max-width: 1177px){
    padding-left: 7%;
  padding-right: 7%;
  }
  @media screen and (max-width: 930px){
    padding-left: 1%;
  padding-right: 1%;
  }



  .photo-container {
    width: 940px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 30px;

    @media screen and (max-width: 718px) {
      justify-content: center;
    }

  }

  .hr {
    margin-top: 70px;
  }

}
