<div class="container-fluid">
  <div class="container-head">
    <header class="header">
      <img class="header__logo" src="./assets/img/content/logo.png" alt="">
      <button type="button" class="header__login-btn btn-signup btn btn-6 btn-default"> <span>Sing up</span>
      </button>
    </header>
    <div class="register-block">
      <h1 class="register-block__h1">We use the most advanced
        search algorithms
        to find your ideal partner.</h1>


    </div>
    <app-register-form></app-register-form>

  </div>

  <div class="social-block">
      <div class="social-block__content">
        <div class="social-block__content_item"><svg width="8" height="16" viewBox="0 0 8 16" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M7.72393 0.670044L5.965 0.666992C3.9889 0.666992 2.71185 2.08372 2.71185 4.27648V5.94069H0.943323C0.790501 5.94069 0.666748 6.07466 0.666748 6.23991V8.65116C0.666748 8.81641 0.790642 8.95023 0.943323 8.95023H2.71185V15.0346C2.71185 15.1998 2.83561 15.3337 2.98843 15.3337H5.29585C5.44868 15.3337 5.57243 15.1997 5.57243 15.0346V8.95023H7.64025C7.79307 8.95023 7.91683 8.81641 7.91683 8.65116L7.91767 6.23991C7.91767 6.16056 7.88846 6.08458 7.83668 6.02843C7.78489 5.97228 7.71433 5.94069 7.64096 5.94069H5.57243V4.52992C5.57243 3.85184 5.72186 3.50762 6.53875 3.50762L7.72365 3.50716C7.87633 3.50716 8.00008 3.37319 8.00008 3.2081V0.969105C8.00008 0.804164 7.87647 0.670349 7.72393 0.670044Z"
              fill="white" />
          </svg>
        </div>
        <div class="social-block__content_item">
          <svg width="15" height="11" viewBox="0 0 15 11" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M14.3333 1.26203C13.818 1.4762 13.2651 1.62144 12.6842 1.68628C13.2773 1.35312 13.7314 0.824677 13.9466 0.196932C13.3902 0.505462 12.776 0.729494 12.1216 0.85094C11.5976 0.326597 10.8523 0 10.0255 0C8.43945 0 7.15344 1.20625 7.15344 2.69313C7.15344 2.90401 7.17881 3.10997 7.22781 3.30693C4.84126 3.19449 2.72504 2.12201 1.30868 0.49233C1.06109 0.889499 0.920246 1.35228 0.920246 1.84629C0.920246 2.78093 1.42766 3.60561 2.19752 4.08809C1.72685 4.07333 1.28418 3.95188 0.896639 3.75001V3.78366C0.896639 5.08837 1.88696 6.17727 3.20008 6.4251C2.95949 6.48582 2.7058 6.51946 2.44334 6.51946C2.25789 6.51946 2.07854 6.50223 1.9027 6.46941C2.26837 7.54026 3.32869 8.31897 4.58496 8.34032C3.60251 9.06244 2.36374 9.4916 1.01825 9.4916C0.786423 9.4916 0.558076 9.47847 0.333252 9.45467C1.60439 10.2203 3.11349 10.6667 4.73544 10.6667C10.0186 10.6667 12.9064 6.56214 12.9064 3.0025L12.8968 2.65375C13.461 2.27626 13.9492 1.80198 14.3333 1.26203Z"
              fill="white" />
          </svg>

        </div>
        <div class="social-block__content_item">
          <svg width="17" height="12" viewBox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M14.7333 4.80033V2.66699H13.5999V4.80033H11.3333V5.86699H13.5999V8.00033H14.7333V5.86699H16.9999V4.80033H14.7333Z"
              fill="white" />
            <path
              d="M5.3125 4.93366V7.06699H8.31831C7.8795 8.30859 6.698 9.20033 5.3125 9.20033C3.55512 9.20033 2.125 7.76459 2.125 6.00033C2.125 4.23606 3.55512 2.80033 5.3125 2.80033C6.07431 2.80033 6.80744 3.07446 7.37694 3.57259L8.77306 1.96406C7.81681 1.12779 6.58856 0.666992 5.3125 0.666992C2.38319 0.666992 0 3.05953 0 6.00033C0 8.94113 2.38319 11.3337 5.3125 11.3337C8.24181 11.3337 10.625 8.94113 10.625 6.00033V4.93366H5.3125Z"
              fill="white" />
          </svg>

        </div>
      </div>
    </div>

  <div class="container-main">

    <app-landing-blog></app-landing-blog>

    <div class="row">
      <div class="col-md-12 photo-container">
        <app-profile-photo *ngFor="let item of profiles" [item]="item"></app-profile-photo>


      </div>
    </div>
    <app-about></app-about>
    <hr class="hr">
    <app-footer></app-footer>
  </div>
</div>
