<div class="row">
    <div class="col-xl-12 about-container">
      <div class="col-xl-6 about-container__block">
        <div class="col-xl-8 about-container__block_title">
          Meet Russian & Ukrainian
          Beauties Online
        </div>
        <p class="cold-xl-6 about-container__block_text">
          Western men who are willing to start a serious
          relationship with Russian or Ukrainian girls 
          don't know how to approach them. For many years
          the only possibility to find Russian women was
          to travel directly to Russia or to contact Russian
          marriage agencies. These were not the most favorable
          and convenient ways and wouldn’t lead to successful
          results. KokoDating gives the opportunity to interact
          with Russian ladies interested in serious relationships
          without any third wheels. Meet over 15,000 single women
          from Eastern Europe today!
        </p>
      </div>
      <div class="col-xl-6 about-container__block">
        <div class="col-xl-10 about-container__block_title">
          Why KokoDating and Not Some
          Other Dating Platform
        </div>
        <div class="cold-xl-6 about-container__block_text">
          Our large profile database ensures that you will find that
          special girl you have been looking for. We want
          to help you find your true love. Understanding how difficult
          it may be to find your true love, we provide
          you with all possible services to reach your goal. Instant
          messaging, video chats, exchanging of letters –
          that is just a fraction of the services that we offer. And
          when your relationship takes it to the next
          level, we will be there for you to make sure you meet your
          future companion and celebrate happiness for
          the rest of your life.
        </div>
      </div>
    </div>
  </div>
