.about-container {
  min-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  &__block {
    margin-top: 70px;
    &_title {
      padding: 0;
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 1.5rem;
      line-height: 2.1875rem;
      color: #172b4d;
    }

    &_text {
      margin-top: 35px;
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.5rem;
      letter-spacing: -0.1px;
      color: #000000;
      margin-bottom: 0;
    }
  }
}
