
  <footer>
    <div class="row">
    <div class="col-xl-12 contacts-block">
      <div class="col-xl-2 contacts-block__adress">
        <a class="hrefs" href="#"> KOKONUT GROUP, INC.</a>
        12657 Alcosta Blvd., Suite #500
        San Ramon, CA 94583
        United States
      </div>
      <div class="col-xl-4 contacts-block__email">
        Customer Service: <a class="hrefs"
          href="mailto:customerservice@kokodating.com">customerservice@kokodating.com</a>
        Marketing & Press: <a class="hrefs" href="mailto:marketing@kokodating.com">marketing@kokodating.com</a>
      </div>
      <div class="col-xl-3 contacts-block__phone">
        Customer Service Toll-Free:<a class="hrefs" href="tel:+1-800-736-2562">+1-800-736-2562</a>
        General Inquiries: <a class="hrefs" href="mailto:info@kokodating.com">info@kokodating.com</a>
      </div>
    </div>
  </div>
  <div class="row">
    <nav class="col-xl-12 nav-container">
      <ul class="nav-container__ul">
        <li class="nav-container__ul_li">© 2019 <a href="#">KokoDating.com</a></li>
        <li class="nav-container__ul_li"><a href="#">Privacy Policy</a></li>
        <li class="nav-container__ul_li"><a href="#">Terms and Conditions</a></li>
        <li class="nav-container__ul_li"><a href="#">Refund Policy</a></li>
        <li class="nav-container__ul_li"><a href="#">AntiScam Policy</a></li>
        <li class="nav-container__ul_li"><a href="#">Partner Agreement</a></li>
        <li class="nav-container__ul_li"><a href="#">Partner Rules</a></li>
      </ul>
    </nav>
  </div>
  </footer>

