.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  justify-content: space-between;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  letter-spacing: -0.4px;
  color: #8898aa;
}
.nav-container {
  margin-top: 40px;

  &__ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 15px;

    &_li {
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 0.875rem;
      line-height: 1.1875rem;
      text-align: center;
      letter-spacing: -0.4px;
      color: #525f7f;
    }
  }
}
