.waiting-block {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2.1875rem;
  letter-spacing: -0.9px;
  color: #172b4d;
}
.advantage-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  @media screen and (max-width: 816px){
    box-sizing: border-box;

  }


  &__item {
    height: 250px;
    max-height: 250px;
    min-width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    &_icon {
      height: 85px;
    }
    &_title {
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 1.5rem;
      line-height: 1.5rem;
      text-align: center;
      color: #172b4d;
    }
    &_text {
      height: 96px;
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.5rem;
      text-align: center;
      color: #000000;
    }
  }
}


.text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  &__block {
    margin-top: 60px;
    display: block;
  }
}
