<div class="row">
  <div class="col-md-5">
    <span class="waiting-block">A Myriad of Russian and Ukrainian
      Women Waiting For You</span>
  </div>
</div>
<div class="row">
  <div class="col-md-12 advantage-container">
    <div class="col-lg-3 col-md-6 advantage-container__item">
      <div class="advantage-container__item_icon">
        <img src="./assets/img/content/protection.svg" alt="">
      </div>
      <span class="advantage-container__item_title">
        Protection
      </span>
      <p class="advantage-container__item_text">Your safety is guaranteed by world's leading safety & security
        algorithms in the industry.</p>
    </div>
    <div class="col-lg-3 col-md-6 advantage-container__item">
      <div class="advantage-container__item_icon">
        <img src="./assets/img/content/attention.svg" alt="">

      </div>
      <span class="advantage-container__item_title">
        Protection
      </span>
      <p class="advantage-container__item_text">Communicate with attractive women
        across the world.</p>
    </div>
    <div class="col-lg-3 col-md-6 advantage-container__item">
      <div class="advantage-container__item_icon">
        <img src="./assets/img/content/verification.svg" alt="">
      </div>
      <span class="advantage-container__item_title">
        Protection
      </span>
      <p class="advantage-container__item_text">All of our members are screened
        by our staff to make sure they are real and legit.</p>
    </div>
    <div class="col-lg-3 col-md-6 advantage-container__item">
      <div class="advantage-container__item_icon">
        <img src="./assets/img/content/comunication.svg" alt="">
      </div>
      <span class="advantage-container__item_title">
        Protection
      </span>
      <p class="advantage-container__item_text">Chat, send letters, video call, share photos and make presents.
      </p>
    </div>

  </div>

</div>

<div class="row">
  <div class="col-md-12 container text-container">
    <p class="col-md-6 text-container__block">
      Meet Russian and Ukrainian ladies
      for dating online on KokoDating.com.
      You've definitely come to the right
      place if you have been searching for
      a Russian or Ukrainian lady to date
      online. With over 15,000 registered
      ladies from Eastern Europe, KokoDating
      is one of the biggest Russian dating
      sites on the Internet. We are a place
      where Anglo-Saxon men can find their
      perfect Slavic woman to fall in love
      with.
    </p>
    <p class="col-md-6 text-container__block">
      Read Our Blog: Free Russian
      Girl Dating Advice. Go to
      the KokoDating.com blog page
      and join our community. Read Russian
      women dating tips, find out more about
      real success stories, learn what women
      really want in a relationship, the secrets
      they share and much more! Take part in our
      community life!
    </p>
  </div>
</div>
