.profile-item {
  width: 30%;
  max-width: 299px;
  height: 441px;
  min-width: 299px;
  background-image: url("src/assets/img/content/profile/profile-1.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 15px;
  margin-top: 30px;

  border-radius: 4px;


  -webkit-box-shadow: inset 0px -92px 43px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px -92px 43px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px -92px 43px 0px rgba(0, 0, 0, 0.75);
  @media screen and (max-width: 1350px) {
    min-width: 250px;
  }
  @media screen and (max-width: 814px) {
    min-width: 200px;
  }
  @media screen and (max-width: 718px) {
    justify-content: center;
    min-width: 299px;
  }



  &:hover {

    -webkit-box-shadow: inset 0px 0px 118px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 118px 0px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 118px 0px rgba(0, 0, 0, 0.75);


  }

  &__status {
    width: 95px;
    height: 23px;
    background-color: #2dce89;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 0.6875rem;
    line-height: 0.9375rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }
  &__name {
    width: 100%;

    padding-top: 309px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
    color: #ffffff;
  }
  &__age {
    width: 100%;

    margin-top: 5px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.5rem;
    text-align: center;
    color: #ffffff;
  }
  &__options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;

    .active {
      color: #172b4d;
    }

    &_item {
      color: #ffffff;
      display: block;
      &:hover{
        cursor: pointer;
      }
    }
  }
}
