<div class="col-md-4 profile-item" [style.background-image]="'url('+item.picture+')'">
  <div class="profile-item__status">online</div>
  <div class="profile-item__name">{{item.name}}</div>
  <div class="profile-item__age">{{item.age}} years old</div>
  <div class="profile-item__options">
    <div class="profile-item__options_item active">
      <i class="fas fa-heart"></i>
    </div>
    <div class="profile-item__options_item">
      <i class="far fa-edit"></i>
    </div>
    <div class="profile-item__options_item">
      <i class="far fa-comment-dots"></i>
    </div>
    <div class="profile-item__options_item">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M14.0077 4.76367C13.5903 4.58234 13.1063 4.66101 12.7737 4.96767L11.333 6.30101V5.33301C11.333 4.23034 10.4363 3.33301 9.33301 3.33301H3.33301C2.23034 3.33301 1.33301 4.23034 1.33301 5.33301V10.6663C1.33301 11.7697 2.23034 12.6663 3.33301 12.6663H9.33301C10.4363 12.6663 11.333 11.7697 11.333 10.6663V9.69901L12.7737 11.0317C12.9877 11.2297 13.2643 11.333 13.5463 11.333C13.7017 11.333 13.8583 11.3017 14.0077 11.2363C14.4137 11.059 14.6663 10.6797 14.6663 10.247V5.75301C14.6663 5.32034 14.4137 4.94101 14.0077 4.76367Z"
          fill="#231F20" />
        <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="1" y="3" width="14" height="10">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M14.0077 4.76367C13.5903 4.58234 13.1063 4.66101 12.7737 4.96767L11.333 6.30101V5.33301C11.333 4.23034 10.4363 3.33301 9.33301 3.33301H3.33301C2.23034 3.33301 1.33301 4.23034 1.33301 5.33301V10.6663C1.33301 11.7697 2.23034 12.6663 3.33301 12.6663H9.33301C10.4363 12.6663 11.333 11.7697 11.333 10.6663V9.69901L12.7737 11.0317C12.9877 11.2297 13.2643 11.333 13.5463 11.333C13.7017 11.333 13.8583 11.3017 14.0077 11.2363C14.4137 11.059 14.6663 10.6797 14.6663 10.247V5.75301C14.6663 5.32034 14.4137 4.94101 14.0077 4.76367Z"
            fill="white" />
        </mask>
        <g mask="url(#mask0)">
          <rect width="16" height="16" rx="4" fill="#172B4D" />
        </g>
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M14.0077 4.76367C13.5903 4.58234 13.1063 4.66101 12.7737 4.96767L11.333 6.30101V5.33301C11.333 4.23034 10.4363 3.33301 9.33301 3.33301H3.33301C2.23034 3.33301 1.33301 4.23034 1.33301 5.33301V10.6663C1.33301 11.7697 2.23034 12.6663 3.33301 12.6663H9.33301C10.4363 12.6663 11.333 11.7697 11.333 10.6663V9.69901L12.7737 11.0317C12.9877 11.2297 13.2643 11.333 13.5463 11.333C13.7017 11.333 13.8583 11.3017 14.0077 11.2363C14.4137 11.059 14.6663 10.6797 14.6663 10.247V5.75301C14.6663 5.32034 14.4137 4.94101 14.0077 4.76367Z"
          fill="#231F20" />
        <mask id="mask1" mask-type="alpha" maskUnits="userSpaceOnUse" x="1" y="3" width="14" height="10">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M14.0077 4.76367C13.5903 4.58234 13.1063 4.66101 12.7737 4.96767L11.333 6.30101V5.33301C11.333 4.23034 10.4363 3.33301 9.33301 3.33301H3.33301C2.23034 3.33301 1.33301 4.23034 1.33301 5.33301V10.6663C1.33301 11.7697 2.23034 12.6663 3.33301 12.6663H9.33301C10.4363 12.6663 11.333 11.7697 11.333 10.6663V9.69901L12.7737 11.0317C12.9877 11.2297 13.2643 11.333 13.5463 11.333C13.7017 11.333 13.8583 11.3017 14.0077 11.2363C14.4137 11.059 14.6663 10.6797 14.6663 10.247V5.75301C14.6663 5.32034 14.4137 4.94101 14.0077 4.76367Z"
            fill="white" />
        </mask>
        <g mask="url(#mask1)">
          <rect width="16" height="16" rx="4" fill="#F6F9FC" />
        </g>
      </svg>
    </div>
    <div class="profile-item__options_item">
      <i class="fas fa-gift"></i>
    </div>
  </div>

</div>
