.form-h3 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #ffffff;
  display: block;
  margin: 30px 0;
}
.form-head {
  width: 300px;

  .form-group {
    margin-bottom: 12px;
  }

  .register-checkbox {
    padding-left: 1rem;
    input[type="checkbox"] {
      border: 1px solid #cad1d7;
      transform: scale(1.7);

      position: relative;
    }

    &__inp {
      margin-left: 3px;
    }

    &__label {
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 0.8rem;
      line-height: 1.125rem;

      letter-spacing: 0.1px;
      margin-left: 1rem;
      color: #d8d8d8;
    }
  }
  .form-btns {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__item {
      width: 45%;
    }
  }
}
