<span class="form-h3">Sign up and get free credits</span>
<form class="form-head" action="">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="First name">
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group" style="display: flex; justify-content: space-between;">
          <select class="form-control col-md-6" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
          <select class="form-control col-md-6" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">
        </div>
      </div>

      <div class="register-checkbox">
        <input class="register-checkbox__inp" type="checkbox" id=register-checkbox>
        <label class="register-checkbox__label" for="register-checkbox">I accept the Terms of Use and Privacy
            Policy</label>
      </div>

      <!-- <div class="register-checkbox custom-control custom-control-alternative custom-checkbox mb-3">
        <input class="custom-control-input" id="customCheck5" type="checkbox">
        <label class="custom-control-label label-text" for="customCheck5">I accept the Terms of Use and Privacy
          Policy</label>

      </div> -->
      <div class="col-md-12">
        <div class="form-group">
          <button type="button" class="btn btn-block btn-danger">Sign up</button>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group form-btns">
          <button type="button" class="form-btns__item btn btn-6  btn-primary"><svg width="20" height="20"
              viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M14.6547 0.836822L12.4561 0.833008C9.98594 0.833008 8.38963 2.60392 8.38963 5.34487V7.42513H6.17897C5.98794 7.42513 5.83325 7.59259 5.83325 7.79915V10.8132C5.83325 11.0198 5.98812 11.187 6.17897 11.187H8.38963V18.7925C8.38963 18.9991 8.54432 19.1663 8.73535 19.1663H11.6196C11.8107 19.1663 11.9654 18.9989 11.9654 18.7925V11.187H14.5501C14.7412 11.187 14.8959 11.0198 14.8959 10.8132L14.8969 7.79915C14.8969 7.69997 14.8604 7.60499 14.7957 7.5348C14.7309 7.46461 14.6427 7.42513 14.551 7.42513H11.9654V5.66166C11.9654 4.81407 12.1521 4.38379 13.1733 4.38379L14.6544 4.38322C14.8452 4.38322 14.9999 4.21576 14.9999 4.00939V1.21065C14.9999 1.00447 14.8454 0.837204 14.6547 0.836822Z"
                fill="white" />
            </svg> <span>Sing up</span>
          </button>
          <button type="button" class="form-btns__item btn-signup btn btn-6  btn-secondary"><svg width="17"
              height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M4.01852 10.2496L3.46589 12.3972L1.44603 12.4416C0.842394 11.2762 0.5 9.94274 0.5 8.52574C0.5 7.1555 0.82013 5.86335 1.38758 4.72559H1.38802L3.18625 5.06877L3.97399 6.9294C3.80912 7.42974 3.71926 7.96684 3.71926 8.52574C3.71932 9.1323 3.82487 9.71347 4.01852 10.2496Z"
                fill="#FBBB00" />
              <path
                d="M16.1972 6.88574C16.2867 7.38792 16.3334 7.90654 16.3334 8.43658C16.3334 9.03092 16.2747 9.61066 16.163 10.1699C15.7835 12.0729 14.792 13.7345 13.4185 14.9104L13.4181 14.91L11.194 14.7891L10.8792 12.6964C11.7906 12.1271 12.5029 11.2363 12.8781 10.1699H8.70996V6.88574H12.9389H16.1972V6.88574Z"
                fill="#518EF8" />
              <path
                d="M13.4008 14.9591L13.4012 14.9595C12.0341 16.0877 10.2973 16.7627 8.40675 16.7627C5.36858 16.7627 2.72712 15.0194 1.37964 12.4539L3.965 10.2812C4.63873 12.1272 6.37326 13.4412 8.40675 13.4412C9.28079 13.4412 10.0996 13.1987 10.8023 12.7752L13.4008 14.9591Z"
                fill="#28B446" />
              <path
                d="M13.4012 2.25375L10.85 4.38437C10.1321 3.92665 9.28354 3.66223 8.37443 3.66223C6.32164 3.66223 4.57737 5.01025 3.94562 6.88578L1.38007 4.74323H1.37964C2.69033 2.16547 5.33073 0.404297 8.37443 0.404297C10.2853 0.404297 12.0373 1.09862 13.4012 2.25375Z"
                fill="#F14336" />
            </svg>
            <span>Sing up</span>
          </button>
        </div>
      </div>

    </div>
  </form>

